@import "tailwindcss";

@theme {
  --color-main-black: #141414;
  --color-main-white: #FEFEFE;
  --color-main-neon: #A9FF1F;
  --color-gray-medium: #979B9C;
  --color-gray-light: #BDBDBD;
  --color-gray-dark: #3a3a3a;
  --color-gray-muted: #9ea0a2;
  --color-input-bg-dark: #0C0B0E;
  --color-surface-dark: #1E1E1E;
  --color-surface-medium: #323232;
  --color-surface-light: #464646;

  --font-roboto: "Roboto", sans-serif;
}

@layer components {
  .card {
    background-color: var(--color-surface-dark);
    border-radius: var(--radius-xl);
    padding: --spacing(6);
  }

  .smooth-transition {
    @apply transition-all duration-300 ease-in-out;
  }
}

/*
@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-2xl);
  }
}
*/
